<!-- /views/random_results.erb -->

<h1>Random results</h1>
<div>Minimum</div>
<p><%= @floor %></p>
<div>Maximum</div>
<p><%= @ceiling %></p>
<div>Random Number</div>
<p><%= @variable %></p>
<p></p>
<a href="/random/new">Calculate another payment<a>
