<!-- /views/square_root_results.erb -->

<h1>Square root results</h1>
<div>Number</div>
<p><%= @number %></p>
<div>Square</div>
<p><%= @square_root %></p>
<p></p>
<a href="/square_root/new">Calculate another square root<a>
